<?xml version="1.0" encoding="UTF-8"?>

<project name="sqlmake_properties" default="init" basedir=".">
  <!-- Oracle deployment environment -->
  <!-- Oracle database using easy connect syntx "server_name:port/service_name" -->
	<property name="db.user" value = "smdemo"/>
	<property name="db.password" value = "smdemo"/>	
  <property name="db.datasource" value = "localhost/orcl"/>
	

  <!-- Oracle build environment -->
	<property name="db.build.user" value = "smdemo_build"/>
	<property name="db.build.password" value = "smdemo_build"/>
  <property name="db.build.datasource" value = "localhost/orcl"/>	
</project>
