<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Sqlmake.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
       <add key="SQLFileList" value="*.con, *.tab, *.ind, *.pks, *.pkb, *.plb, *.spc, *.bdy, *.trg, *.prc, *.fnc, *.tps, *.tpb, *.typ, *.syn, *.vw, *.sql"/>
       <add key="PLSQLFileList" value="*.pks, *.pkb, *.plb, *.spc, *.bdy, *.trg, *.prc, *.fnc, *.tps, *.tpb"/>
       <add key="IgnoreDirList" value="^[.]svn$,^setup$,^build$,^dba$,^upgrade$,^test_data$,^data$"/>
       <add key="IgnoreFileList" value="^*.config$,(?i)^ut_.*"/>
       <add key="InstallOrder" value="SYNONYM, TABLE, VIEW, COMMENT, SEQUENCE, SINGLE TABLE INSERT, PRIMARY KEY, UNIQUE KEY, UNIQUE INDEX, INDEX, FOREIGN KEY, CHECK, FUNCTION, PROCEDURE, PACKAGE, TYPE, PACKAGE BODY, TYPE BODY, TRIGGER, GRANT"/>

	   <add key="DatamodelVersionLocation" value="file"/>
       <add key="DatamodelVersionFilename" value="version.sql"/>
       <add key="DatamodelVersionSearchPattern" value="define datamodel_version = ([0-9,\.]*)"/>
       <add key="DatamodelVersionIdDefinition" value="$1"/>
	   	   
       <add key="upgradeFolderName" value="upgrade"/>
       <add key="RecurseFlag" value="true"/>
       <add key="DebugFlag" value="false"/>
       <add key="SQLPlusVariableSubstitutionFlag" value="false"/>       
	   
	   <!-- Character set of SQL scripts -->
       <!-- Encoding can be set as in http://msdn.microsoft.com/en-us/library/system.text.encoding.aspx -->
       <!-- If not set, default language for non-Unicode program is used (Control Panel\Regional and Language Options\Advanced) -->
       <add key="Encoding" value="windows-1250"/>	   
  </appSettings>
</configuration>
