<?xml version="1.0"?>
<!--
Sqlmake http://code.google.com/p/sqlmake/
Copyright © 2010-2012 Mitja Golouh 
  
This file is part of Sqlmake.

Sqlmake is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as 
published by the Free Software Foundation, either version 3 of 
the License, or (at your option) any later version.

Sqlmake is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Sqlmake.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData=".\\sqlmake.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
       <add key="DebugFlag" value="false"/>
       <add key="RecurseFlag" value="true"/>
       <add key="ExecuteFlag" value="false"/>
       <add key="FilesystemFlag" value="false"/>    
       <add key="SQLPlusVariableSubstitutionFlag" value="true"/>

       <add key="SqlFileList" value="*.sql, *.con, *.tab, *.ind, *.pks, *.pkb, *.plb, *.spc, *.bdy, *.trg, *.prc, *.fnc, *.tps, *.tpb, *.typ, *.syn, *.vw, *.data"/>
       <add key="PlsqlFileList" value="*.pks, *.pkb, *.plb, *.spc, *.bdy, *.trg, *.prc, *.fnc, *.tps, *.tpb, *.vw"/>
       <add key="IgnoreDirList" value="^[.]svn$,^setup$,^build$,^dba$,^upgrade$,^test_data$,^_attic_$"/>
       <add key="IgnoreFileList" value="^setup[.]sql$,^setupDBA[.]sql$,(?i)^ut_.*"/>
       <add key="InstallOrder" value="SYNONYM, TABLE, VIEW, COMMENT, SEQUENCE, INSERT, PRIMARY KEY, UNIQUE KEY, UNIQUE INDEX, INDEX, FOREIGN KEY, CHECK, FUNCTION, PROCEDURE, PACKAGE, TYPE, PACKAGE BODY, TYPE BODY, TRIGGER, GRANT"/>
       <add key="DatamodelVersionLocation" value="file"/>
       <add key="DatamodelVersionFilename" value="version.sql"/>
       <add key="DatamodelVersionSearchPattern" value="define svn_datamodel_version = (.*)"/>
       <add key="DatamodelVersionOutputPattern" value="$1"/>
       <add key="UpgradeFolderName" value="upgrade"/>

       <!-- Encoding can be set as in http://msdn.microsoft.com/en-us/library/system.text.encoding.aspx -->
       <!-- If not set, default language for non-Unicode program is used (Control Panel\Regional and Language Options\Advanced) -->
       <add key="Encoding" value="windows-1250"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
